body {
  background: #000;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}

/**
 * --------------------------------------------------------------------
 * Mortend
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Mortend Regular";
  font-display: swap;
  src: local("Mortend Regular"), url("fonts/mortend-mortend-regular-400.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mortend Bold";
  font-display: swap;
  src: local("Mortend Bold"), url("fonts/mortend-mortend-bold-700.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-child-width-1-7 > * {
  width: 14.2836737609%;
}
@media (min-width: 640px) {
  .uk-child-width-1-7-s > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 960px) {
  .uk-child-width-1-7-m > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 1200px) {
  .uk-child-width-1-7-l > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 1600px) {
  .uk-child-width-1-7-xl > * {
    width: 14.2836737609%;
  }
}
.uk-modal {
  background: rgba(0, 0, 0, 0.5);
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-4-xl {
    margin-left: -4px !important;
  }
  .uk-grid-4-xl > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-xl > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-4-l {
    margin-left: -4px !important;
  }
  .uk-grid-4-l > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-l > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-4-m {
    margin-left: -4px !important;
  }
  .uk-grid-4-m > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-m > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-4-s {
    margin-left: -4px !important;
  }
  .uk-grid-4-s > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-s > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

.uk-grid-4 {
  margin-left: -4px;
}
.uk-grid-4 > * {
  padding-left: 4px;
}
.uk-grid-4 > .uk-grid-margin {
  margin-top: 4px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px !important;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px !important;
  }
  .uk-grid-8-l > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px !important;
  }
  .uk-grid-8-m > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px !important;
  }
  .uk-grid-8-s > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-12-xl {
    margin-left: -12px !important;
  }
  .uk-grid-12-xl > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-xl > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-12-l {
    margin-left: -12px !important;
  }
  .uk-grid-12-l > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-l > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-12-m {
    margin-left: -12px !important;
  }
  .uk-grid-12-m > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-m > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-12-s {
    margin-left: -12px !important;
  }
  .uk-grid-12-s > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-s > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

.uk-grid-12 {
  margin-left: -12px;
}
.uk-grid-12 > * {
  padding-left: 12px;
}
.uk-grid-12 > .uk-grid-margin {
  margin-top: 12px;
}

@media (min-width: 1600px) {
  .uk-grid-16-xl {
    margin-left: -16px !important;
  }
  .uk-grid-16-xl > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-xl > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-16-l {
    margin-left: -16px !important;
  }
  .uk-grid-16-l > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-l > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-16-m {
    margin-left: -16px !important;
  }
  .uk-grid-16-m > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-m > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-16-s {
    margin-left: -16px !important;
  }
  .uk-grid-16-s > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-s > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

.uk-grid-16 {
  margin-left: -16px;
}
.uk-grid-16 > * {
  padding-left: 16px;
}
.uk-grid-16 > .uk-grid-margin {
  margin-top: 16px;
}

@media (min-width: 1600px) {
  .uk-grid-18-xl {
    margin-left: -18px !important;
  }
  .uk-grid-18-xl > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-xl > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-18-l {
    margin-left: -18px !important;
  }
  .uk-grid-18-l > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-l > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-18-m {
    margin-left: -18px !important;
  }
  .uk-grid-18-m > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-m > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-18-s {
    margin-left: -18px !important;
  }
  .uk-grid-18-s > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-s > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

.uk-grid-18 {
  margin-left: -18px;
}
.uk-grid-18 > * {
  padding-left: 18px;
}
.uk-grid-18 > .uk-grid-margin {
  margin-top: 18px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px !important;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px !important;
  }
  .uk-grid-24-l > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px !important;
  }
  .uk-grid-24-m > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px !important;
  }
  .uk-grid-24-s > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-32-xl {
    margin-left: -32px !important;
  }
  .uk-grid-32-xl > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-xl > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-32-l {
    margin-left: -32px !important;
  }
  .uk-grid-32-l > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-l > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-32-m {
    margin-left: -32px !important;
  }
  .uk-grid-32-m > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-m > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-32-s {
    margin-left: -32px !important;
  }
  .uk-grid-32-s > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-s > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

.uk-grid-32 {
  margin-left: -32px;
}
.uk-grid-32 > * {
  padding-left: 32px;
}
.uk-grid-32 > .uk-grid-margin {
  margin-top: 32px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-60-xl {
    margin-left: -60px !important;
  }
  .uk-grid-60-xl > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-xl > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-60-l {
    margin-left: -60px !important;
  }
  .uk-grid-60-l > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-l > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-60-m {
    margin-left: -60px !important;
  }
  .uk-grid-60-m > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-m > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-60-s {
    margin-left: -60px !important;
  }
  .uk-grid-60-s > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-s > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

.uk-grid-60 {
  margin-left: -60px;
}
.uk-grid-60 > * {
  padding-left: 60px;
}
.uk-grid-60 > .uk-grid-margin {
  margin-top: 60px;
}

@media (min-width: 1600px) {
  .uk-grid-68-xl {
    margin-left: -68px !important;
  }
  .uk-grid-68-xl > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-xl > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-68-l {
    margin-left: -68px !important;
  }
  .uk-grid-68-l > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-l > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-68-m {
    margin-left: -68px !important;
  }
  .uk-grid-68-m > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-m > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-68-s {
    margin-left: -68px !important;
  }
  .uk-grid-68-s > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-s > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

.uk-grid-68 {
  margin-left: -68px;
}
.uk-grid-68 > * {
  padding-left: 68px;
}
.uk-grid-68 > .uk-grid-margin {
  margin-top: 68px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.fz-32, .desktop12__title {
  font-size: 22.4px !important;
}
@media screen and (min-width: 640px) {
  .fz-32, .desktop12__title {
    font-size: calc(22.4px + 9.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-32, .desktop12__title {
    font-size: 32px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__68:nth-child(n+2) {
  margin-top: 68px;
}
.item__32:nth-child(n+2) {
  margin-top: 32px;
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__12:nth-child(n+2) {
  margin-top: 12px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__4:nth-child(n+2) {
  margin-top: 4px;
}
.item__68-40:nth-child(n+2) {
  margin-top: 40px;
}
@media (min-width: 960px) {
  .item__68-40:nth-child(n+2) {
    margin-top: 68px;
  }
}
.item__40-20:nth-child(n+2) {
  margin-top: 20px;
}
@media (min-width: 960px) {
  .item__40-20:nth-child(n+2) {
    margin-top: 40px;
  }
}
.item__32-16:nth-child(n+2) {
  margin-top: 16px;
}
@media (min-width: 960px) {
  .item__32-16:nth-child(n+2) {
    margin-top: 32px;
  }
}
.item__24-12:nth-child(n+2) {
  margin-top: 12px;
}
@media (min-width: 960px) {
  .item__24-12:nth-child(n+2) {
    margin-top: 24px;
  }
}
.item__16-12:nth-child(n+2) {
  margin-top: 12px;
}
@media (min-width: 960px) {
  .item__16-12:nth-child(n+2) {
    margin-top: 16px;
  }
}
.item__16-8:nth-child(n+2) {
  margin-top: 8px;
}
@media (min-width: 960px) {
  .item__16-8:nth-child(n+2) {
    margin-top: 16px;
  }
}

.header__bg {
  background: #161616;
}
@media (min-width: 960px) {
  .header {
    background: #161616;
  }
}
.header__navitem, .header .uk-navbar-toggle,
.header .uk-navbar-item, .header .uk-navbar-nav > li > a {
  min-height: 56px;
}
.header__hover, .header .uk-navbar-nav > li.uk-active > a, .header .uk-navbar-nav > li > a:hover {
  color: #66B933;
}
.header .uk-logo img {
  height: 32px;
}
.header .uk-navbar-right {
  gap: 12px;
}
.header__pay {
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  min-height: 32px;
  padding: 0 14px;
  border-radius: 12px;
  background: #161616;
  color: #66B933;
  display: flex;
  align-items: center;
}
@media (min-width: 960px) {
  .header__pay {
    background: #000000;
  }
}
.uk-modal .header__pay {
  background: #2A2A2C;
  display: inline-flex;
}
.header__pay img {
  margin-left: 4px;
}
.header__user {
  background: #161616;
}
@media (min-width: 960px) {
  .header__user {
    background: #000000;
  }
}
.header .uk-navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.2);
}
.header .uk-navbar-nav > li > a span {
  font-family: "Mortend Regular", sans-serif;
  position: relative;
  top: 1px;
}
.header .uk-navbar-nav > li > a svg {
  margin-right: 4px;
}
.header__btnLogin {
  background: linear-gradient(270.72deg, #66B933 0%, #00DEA1 100%);
  border-radius: 12px;
  font-family: "Mortend Bold", sans-serif;
  line-height: 30px;
  color: #ffffff !important;
}
@media (min-width: 960px) {
  .header__btnLogin {
    padding: 0 17px;
  }
}
.header__btnLogin > * {
  position: relative;
  top: 2px;
}

.menuBottom {
  background: #161616;
  border-radius: 24px 24px 0px 0px;
}
.menuBottom__coverAdd {
  background: linear-gradient(180deg, #42D32B 0%, #00DEA1 100%);
  position: relative;
  top: -16px;
}
.menuBottom__nav {
  gap: 0;
}
.menuBottom__subtitle {
  color: #D9D9D9;
  font-size: 10px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  line-height: 1.6;
}

main {
  padding-top: 28px !important;
  padding-bottom: 40px !important;
}
@media (min-width: 960px) {
  main {
    padding-top: 96px !important;
    padding-bottom: 68px !important;
  }
}

.desktop1__width {
  max-width: 512px;
  width: 100%;
  box-sizing: content-box;
}
.desktop1__logo {
  height: 56px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__logo {
    height: calc(56px + 15 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__logo {
    height: 71px !important;
  }
}
.desktop1__desc {
  color: #D9D9D9;
  line-height: 1.14;
}
.desktop1__desc {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__desc {
    font-size: calc(12px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__desc {
    font-size: 14px !important;
  }
}
.desktop1__form__label {
  color: #A7A7A7 !important;
  font-size: 12px;
  line-height: 1.33;
}
.desktop1__form__textarea {
  background: #2A2A2C !important;
  border-color: #2A2A2C !important;
  color: #FFFFFF !important;
}
.desktop1__form__textarea {
  font-size: 10px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__form__textarea {
    font-size: calc(10px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__form__textarea {
    font-size: 14px !important;
  }
}
.desktop1__form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}
.desktop1__btn {
  width: 100%;
  border-radius: 12px;
  line-height: 30px;
  font-family: "Mortend Bold", sans-serif;
  padding: 0 13px;
}
.desktop1__btn:not(.width) {
  min-width: 160px;
}
.desktop1__btn.width {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: #FFFFFF !important;
}
.desktop1__btn.width span {
  font-size: 10px;
  margin-left: 4px;
  position: relative;
  top: 1px;
}
.desktop1__btn > * {
  position: relative;
  top: 2px;
}
.desktop1__btn--c1 {
  background: linear-gradient(270.72deg, #66B933 0%, #00DEA1 100%);
  color: #ffffff !important;
}
.desktop1__btn--c2 {
  background: #000;
  border-color: #66B933 !important;
  color: #66B933 !important;
}

.desktop3__modal__dialog {
  width: 360px;
  background: #000000;
  border: 1px solid #66B933;
  border-radius: 16px;
}
.desktop3__modal__logo {
  margin: 0;
}
.desktop3__modal__logo img {
  height: 32px;
}

.desktop4__cover {
  border-radius: 12px;
}
.desktop4__back {
  background: #2A2A2C;
}
@media (min-width: 960px) {
  .desktop4__width {
    max-width: 328px;
    width: 100%;
    box-sizing: content-box;
  }
}
.desktop4__boxCheck {
  cursor: pointer;
  height: 32px;
  box-sizing: border-box;
  min-width: 52px;
  border: 1px solid #66B933;
  background: #000000;
  position: relative;
  transition: all 0.3s;
}
.desktop4__boxCheck__txt1 {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Mortend Bold", sans-serif;
  color: #FFFFFF;
  line-height: 1.2;
}
.desktop4__boxCheck__txt2 {
  font-size: 10px;
  font-family: "Mortend Bold", sans-serif;
  color: #FFFFFF;
  line-height: 1.6;
}
.desktop4__boxCheck:before {
  transition: all 0.3s;
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  background-color: #66B933;
  position: absolute;
  right: calc(100% - 24px - 4px);
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6666 4.27331L11.7266 3.33331L7.99998 7.05998L4.27331 3.33331L3.33331 4.27331L7.05998 7.99998L3.33331 11.7266L4.27331 12.6666L7.99998 8.93998L11.7266 12.6666L12.6666 11.7266L8.93998 7.99998L12.6666 4.27331Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.desktop4__check:checked ~ .desktop4__gridCheck .desktop4__boxCheck {
  background-color: #66B933;
}
.desktop4__check:checked ~ .desktop4__gridCheck .desktop4__boxCheck:before {
  background-color: #000000;
  background-image: inherit;
  right: calc(4px - 2px);
  width: calc(24px + 2px);
  height: calc(24px + 2px);
}

.desktop8__time, .desktop8__txtSmall {
  color: #D9D9D9;
  line-height: 1.6;
  font-size: 10px;
  font-weight: 300;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__name {
  color: #FFFFFF;
  line-height: 1.14;
  font-size: 14px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__btnFollow {
  line-height: 30px;
  border-color: #66B933 !important;
  font-size: 10px;
  font-family: "Mortend Regular", sans-serif;
}
.desktop8__btnFollow.uk-active {
  background: #66B933 !important;
  color: #000 !important;
}
.desktop8__count {
  color: #D9D9D9 !important;
  font-size: 10px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__count.uk-active svg {
  color: #66B933;
}

@media (min-width: 1200px) {
  .desktop6__containerFull {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.desktop6__img {
  border-radius: 12px;
}
.desktop6__title {
  text-transform: uppercase;
  color: #66B933 !important;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Mortend Bold", sans-serif;
}
.desktop6__box {
  padding: 0px 5px;
}
.desktop6__iconTab {
  color: #D9D9D9 !important;
}
.desktop6__iconTab.uk-active {
  color: #66B933 !important;
}

.desktop5__container {
  margin-left: -15px;
}
@media (min-width: 640px) {
  .desktop5__container {
    margin-left: -30px;
  }
}
@media (min-width: 960px) {
  .desktop5__container {
    margin-left: auto;
    max-width: calc(50% + 600px - 0px);
  }
}
.desktop5__labelTitle {
  color: #FFFFFF !important;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
  line-height: 1.25;
}
.desktop5__card {
  background: #161616;
  border-radius: 12px;
}
.desktop5__card .uk-card-header {
  padding: 10px 15px;
}
.desktop5__card__tag {
  color: #FFFFFF !important;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
  line-height: 1.25;
}
.desktop5__card__icon {
  color: #FFFFFF !important;
  font-size: 12px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop5__card__icon svg {
  position: relative;
  top: -2px;
}

.desktop10__box {
  background: #161616;
  border-radius: 16px;
  padding: 8px;
}
.desktop10__box__coverImg {
  border-radius: 12px;
}
.desktop10__box__txt {
  color: #FFFFFF !important;
  line-height: 1.2142857143;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop10__box__txt {
  font-size: 10px !important;
}
@media screen and (min-width: 640px) {
  .desktop10__box__txt {
    font-size: calc(10px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop10__box__txt {
    font-size: 14px !important;
  }
}

.desktop12__title {
  text-transform: uppercase;
  line-height: 1.09375;
  font-family: "Mortend Bold", sans-serif;
  color: #66B933 !important;
}
.desktop12__desc {
  color: #D9D9D9 !important;
  line-height: 1.14;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop12__desc {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__desc {
    font-size: calc(12px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__desc {
    font-size: 14px !important;
  }
}
.desktop12__card {
  background: #2A2A2C;
  border-radius: 12px;
  padding: 12px;
}
@media (min-width: 960px) {
  .desktop12__card {
    padding: 24px;
  }
}
.desktop12__card__txt1 {
  color: #FFFFFF;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
}
.desktop12__card__txt1 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt1 {
    font-size: calc(12px + 12 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt1 {
    font-size: 24px !important;
  }
}
.desktop12__card__txt1 img {
  height: 16px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt1 img {
    height: calc(16px + 14 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt1 img {
    height: 30px !important;
  }
}
.desktop12__card__txt2 {
  text-transform: uppercase;
  color: #66B933;
  font-family: "Mortend Bold", sans-serif;
  line-height: 1.1041666667;
}
.desktop12__card__txt2 {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt2 {
    font-size: calc(24px + 24 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt2 {
    font-size: 48px !important;
  }
}
.desktop12__card__txt3 {
  color: #FFFFFF;
  font-weight: 300;
  font-family: "Mortend Regular", sans-serif;
}
.desktop12__card__txt3 {
  font-size: 11px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt3 {
    font-size: calc(11px + 3 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt3 {
    font-size: 14px !important;
  }
}

.desktop15__btn {
  background: #000000 !important;
  border-color: #66B933 !important;
  line-height: 30px;
  font-family: "Mortend Bold", sans-serif;
}
.desktop15__btn > * {
  position: relative;
  top: 2px;
}

.desktop11__title {
  text-transform: uppercase;
  line-height: 1.5;
  font-family: "Mortend Bold", sans-serif;
  font-size: 16px;
  color: #66B933 !important;
}
.desktop11__desc {
  color: #A7A7A7 !important;
  font-size: 10px;
  line-height: 1.6;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}

.desktop14__name {
  color: #66B933 !important;
  line-height: 1.2;
  font-size: 20px;
  font-family: "Mortend Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.desktop14__email {
  color: #D9D9D9;
  font-size: 10px;
  line-height: 1.6;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 300;
}
.desktop14__btn {
  color: #D9D9D9 !important;
  font-size: 14px;
  font-family: "Mortend Bold", sans-serif;
  border-radius: 12px;
}
.desktop14__btn > * {
  position: relative;
  top: 2px;
}
.desktop14__btn--c1 {
  border-color: #66B933;
  background-color: #000000 !important;
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.desktop14__btn--c2 {
  background: #2A2A2C !important;
}
.desktop14__btn--pay {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_2623' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_2623)'%3E%3Cpath d='M4.66663 14.6668C4.29996 14.6668 3.98607 14.5363 3.72496 14.2752C3.46385 14.0141 3.33329 13.7002 3.33329 13.3335C3.33329 12.9668 3.46385 12.6529 3.72496 12.3918C3.98607 12.1307 4.29996 12.0002 4.66663 12.0002C5.03329 12.0002 5.34718 12.1307 5.60829 12.3918C5.8694 12.6529 5.99996 12.9668 5.99996 13.3335C5.99996 13.7002 5.8694 14.0141 5.60829 14.2752C5.34718 14.5363 5.03329 14.6668 4.66663 14.6668ZM11.3333 14.6668C10.9666 14.6668 10.6527 14.5363 10.3916 14.2752C10.1305 14.0141 9.99996 13.7002 9.99996 13.3335C9.99996 12.9668 10.1305 12.6529 10.3916 12.3918C10.6527 12.1307 10.9666 12.0002 11.3333 12.0002C11.7 12.0002 12.0138 12.1307 12.275 12.3918C12.5361 12.6529 12.6666 12.9668 12.6666 13.3335C12.6666 13.7002 12.5361 14.0141 12.275 14.2752C12.0138 14.5363 11.7 14.6668 11.3333 14.6668ZM4.09996 4.00016L5.69996 7.3335H10.3666L12.2 4.00016H4.09996ZM4.66663 11.3335C4.16663 11.3335 3.78885 11.1141 3.53329 10.6752C3.27774 10.2363 3.26663 9.80016 3.49996 9.36683L4.39996 7.7335L1.99996 2.66683H1.31663C1.12774 2.66683 0.972182 2.60294 0.849959 2.47516C0.727737 2.34738 0.666626 2.18905 0.666626 2.00016C0.666626 1.81127 0.730515 1.65294 0.858293 1.52516C0.98607 1.39738 1.1444 1.3335 1.33329 1.3335H2.41663C2.53885 1.3335 2.65551 1.36683 2.76663 1.4335C2.87774 1.50016 2.96107 1.59461 3.01663 1.71683L3.46663 2.66683H13.3C13.6 2.66683 13.8055 2.77794 13.9166 3.00016C14.0277 3.22238 14.0222 3.45572 13.9 3.70016L11.5333 7.96683C11.4111 8.18905 11.25 8.36127 11.05 8.4835C10.85 8.60572 10.6222 8.66683 10.3666 8.66683H5.39996L4.66663 10.0002H12.0166C12.2055 10.0002 12.3611 10.0641 12.4833 10.1918C12.6055 10.3196 12.6666 10.4779 12.6666 10.6668C12.6666 10.8557 12.6027 11.0141 12.475 11.1418C12.3472 11.2696 12.1888 11.3335 12 11.3335H4.66663Z' fill='%23D9D9D9'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.desktop14__btn--setting {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_2629' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_2629)'%3E%3Cpath d='M9.25002 14.6668H6.75002C6.58335 14.6668 6.43891 14.6113 6.31669 14.5002C6.19447 14.3891 6.12224 14.2502 6.10002 14.0835L5.90002 12.5335C5.75558 12.4779 5.61947 12.4113 5.49169 12.3335C5.36391 12.2557 5.23891 12.1724 5.11669 12.0835L3.66669 12.6835C3.51113 12.7391 3.35558 12.7446 3.20002 12.7002C3.04447 12.6557 2.92224 12.5613 2.83335 12.4168L1.60002 10.2668C1.51113 10.1224 1.48335 9.96683 1.51669 9.80016C1.55002 9.6335 1.63335 9.50016 1.76669 9.40016L3.01669 8.45016C3.00558 8.37238 3.00002 8.29738 3.00002 8.22516V7.77516C3.00002 7.70294 3.00558 7.62794 3.01669 7.55016L1.76669 6.60016C1.63335 6.50016 1.55002 6.36683 1.51669 6.20016C1.48335 6.0335 1.51113 5.87794 1.60002 5.7335L2.83335 3.5835C2.91113 3.42794 3.03058 3.33072 3.19169 3.29183C3.3528 3.25294 3.51113 3.26127 3.66669 3.31683L5.11669 3.91683C5.23891 3.82794 5.36669 3.74461 5.50002 3.66683C5.63335 3.58905 5.76669 3.52238 5.90002 3.46683L6.10002 1.91683C6.12224 1.75016 6.19447 1.61127 6.31669 1.50016C6.43891 1.38905 6.58335 1.3335 6.75002 1.3335H9.25002C9.41669 1.3335 9.56113 1.38905 9.68335 1.50016C9.80558 1.61127 9.8778 1.75016 9.90002 1.91683L10.1 3.46683C10.2445 3.52238 10.3806 3.58905 10.5084 3.66683C10.6361 3.74461 10.7611 3.82794 10.8834 3.91683L12.3334 3.31683C12.4889 3.26127 12.6445 3.25572 12.8 3.30016C12.9556 3.34461 13.0778 3.43905 13.1667 3.5835L14.4 5.7335C14.4889 5.87794 14.5167 6.0335 14.4834 6.20016C14.45 6.36683 14.3667 6.50016 14.2334 6.60016L12.9834 7.55016C12.9945 7.62794 13 7.70294 13 7.77516V8.22516C13 8.29738 12.9889 8.37238 12.9667 8.45016L14.2167 9.40016C14.35 9.50016 14.4334 9.6335 14.4667 9.80016C14.5 9.96683 14.4722 10.1224 14.3834 10.2668L13.15 12.4002C13.0611 12.5446 12.9361 12.6418 12.775 12.6918C12.6139 12.7418 12.4556 12.7391 12.3 12.6835L10.8834 12.0835C10.7611 12.1724 10.6334 12.2557 10.5 12.3335C10.3667 12.4113 10.2334 12.4779 10.1 12.5335L9.90002 14.0835C9.8778 14.2502 9.80558 14.3891 9.68335 14.5002C9.56113 14.6113 9.41669 14.6668 9.25002 14.6668ZM8.03335 10.3335C8.6778 10.3335 9.2278 10.1057 9.68335 9.65016C10.1389 9.19461 10.3667 8.64461 10.3667 8.00016C10.3667 7.35572 10.1389 6.80572 9.68335 6.35016C9.2278 5.89461 8.6778 5.66683 8.03335 5.66683C7.3778 5.66683 6.82502 5.89461 6.37502 6.35016C5.92502 6.80572 5.70002 7.35572 5.70002 8.00016C5.70002 8.64461 5.92502 9.19461 6.37502 9.65016C6.82502 10.1057 7.3778 10.3335 8.03335 10.3335ZM8.03335 9.00016C7.75558 9.00016 7.51947 8.90294 7.32502 8.7085C7.13058 8.51405 7.03335 8.27794 7.03335 8.00016C7.03335 7.72238 7.13058 7.48627 7.32502 7.29183C7.51947 7.09738 7.75558 7.00016 8.03335 7.00016C8.31113 7.00016 8.54724 7.09738 8.74169 7.29183C8.93613 7.48627 9.03335 7.72238 9.03335 8.00016C9.03335 8.27794 8.93613 8.51405 8.74169 8.7085C8.54724 8.90294 8.31113 9.00016 8.03335 9.00016ZM7.33335 13.3335H8.65002L8.88335 11.5668C9.2278 11.4779 9.54724 11.3474 9.84169 11.1752C10.1361 11.0029 10.4056 10.7946 10.65 10.5502L12.3 11.2335L12.95 10.1002L11.5167 9.01683C11.5722 8.86127 11.6111 8.69738 11.6334 8.52516C11.6556 8.35294 11.6667 8.17794 11.6667 8.00016C11.6667 7.82238 11.6556 7.64739 11.6334 7.47516C11.6111 7.30294 11.5722 7.13905 11.5167 6.9835L12.95 5.90016L12.3 4.76683L10.65 5.46683C10.4056 5.21127 10.1361 4.99738 9.84169 4.82516C9.54724 4.65294 9.2278 4.52238 8.88335 4.4335L8.66669 2.66683H7.35002L7.11669 4.4335C6.77224 4.52238 6.4528 4.65294 6.15835 4.82516C5.86391 4.99738 5.59447 5.20572 5.35002 5.45016L3.70002 4.76683L3.05002 5.90016L4.48335 6.96683C4.4278 7.1335 4.38891 7.30016 4.36669 7.46683C4.34447 7.6335 4.33335 7.81127 4.33335 8.00016C4.33335 8.17794 4.34447 8.35016 4.36669 8.51683C4.38891 8.6835 4.4278 8.85016 4.48335 9.01683L3.05002 10.1002L3.70002 11.2335L5.35002 10.5335C5.59447 10.7891 5.86391 11.0029 6.15835 11.1752C6.4528 11.3474 6.77224 11.4779 7.11669 11.5668L7.33335 13.3335Z' fill='%23D9D9D9'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*# sourceMappingURL=style.css.map */
