body {
  background: #000;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}

/**
 * --------------------------------------------------------------------
 * Mortend
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Mortend Regular";
  font-display: swap;
  src: local("Mortend Regular"), url("fonts/mortend-mortend-regular-400.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mortend Bold";
  font-display: swap;
  src: local("Mortend Bold"), url("fonts/mortend-mortend-bold-700.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-child-width-1-7 > * {
  width: 14.2836737609%;
}
@media (min-width: 640px) {
  .uk-child-width-1-7-s > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 960px) {
  .uk-child-width-1-7-m > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 1200px) {
  .uk-child-width-1-7-l > * {
    width: 14.2836737609%;
  }
}
@media (min-width: 1600px) {
  .uk-child-width-1-7-xl > * {
    width: 14.2836737609%;
  }
}
.uk-modal {
  background: rgba(0, 0, 0, 0.5);
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-4-xl {
    margin-left: -4px !important;
  }
  .uk-grid-4-xl > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-xl > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-4-l {
    margin-left: -4px !important;
  }
  .uk-grid-4-l > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-l > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-4-m {
    margin-left: -4px !important;
  }
  .uk-grid-4-m > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-m > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-4-s {
    margin-left: -4px !important;
  }
  .uk-grid-4-s > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-s > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

.uk-grid-4 {
  margin-left: -4px;
}
.uk-grid-4 > * {
  padding-left: 4px;
}
.uk-grid-4 > .uk-grid-margin {
  margin-top: 4px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px !important;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px !important;
  }
  .uk-grid-8-l > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px !important;
  }
  .uk-grid-8-m > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px !important;
  }
  .uk-grid-8-s > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-12-xl {
    margin-left: -12px !important;
  }
  .uk-grid-12-xl > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-xl > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-12-l {
    margin-left: -12px !important;
  }
  .uk-grid-12-l > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-l > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-12-m {
    margin-left: -12px !important;
  }
  .uk-grid-12-m > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-m > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-12-s {
    margin-left: -12px !important;
  }
  .uk-grid-12-s > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-s > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

.uk-grid-12 {
  margin-left: -12px;
}
.uk-grid-12 > * {
  padding-left: 12px;
}
.uk-grid-12 > .uk-grid-margin {
  margin-top: 12px;
}

@media (min-width: 1600px) {
  .uk-grid-16-xl {
    margin-left: -16px !important;
  }
  .uk-grid-16-xl > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-xl > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-16-l {
    margin-left: -16px !important;
  }
  .uk-grid-16-l > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-l > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-16-m {
    margin-left: -16px !important;
  }
  .uk-grid-16-m > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-m > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-16-s {
    margin-left: -16px !important;
  }
  .uk-grid-16-s > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-s > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

.uk-grid-16 {
  margin-left: -16px;
}
.uk-grid-16 > * {
  padding-left: 16px;
}
.uk-grid-16 > .uk-grid-margin {
  margin-top: 16px;
}

@media (min-width: 1600px) {
  .uk-grid-18-xl {
    margin-left: -18px !important;
  }
  .uk-grid-18-xl > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-xl > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-18-l {
    margin-left: -18px !important;
  }
  .uk-grid-18-l > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-l > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-18-m {
    margin-left: -18px !important;
  }
  .uk-grid-18-m > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-m > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-18-s {
    margin-left: -18px !important;
  }
  .uk-grid-18-s > * {
    padding-left: 18px !important;
  }
  .uk-grid-18-s > .uk-grid-margin {
    margin-top: 18px !important;
  }
}

.uk-grid-18 {
  margin-left: -18px;
}
.uk-grid-18 > * {
  padding-left: 18px;
}
.uk-grid-18 > .uk-grid-margin {
  margin-top: 18px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px !important;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px !important;
  }
  .uk-grid-24-l > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px !important;
  }
  .uk-grid-24-m > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px !important;
  }
  .uk-grid-24-s > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-32-xl {
    margin-left: -32px !important;
  }
  .uk-grid-32-xl > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-xl > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-32-l {
    margin-left: -32px !important;
  }
  .uk-grid-32-l > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-l > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-32-m {
    margin-left: -32px !important;
  }
  .uk-grid-32-m > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-m > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-32-s {
    margin-left: -32px !important;
  }
  .uk-grid-32-s > * {
    padding-left: 32px !important;
  }
  .uk-grid-32-s > .uk-grid-margin {
    margin-top: 32px !important;
  }
}

.uk-grid-32 {
  margin-left: -32px;
}
.uk-grid-32 > * {
  padding-left: 32px;
}
.uk-grid-32 > .uk-grid-margin {
  margin-top: 32px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-60-xl {
    margin-left: -60px !important;
  }
  .uk-grid-60-xl > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-xl > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-60-l {
    margin-left: -60px !important;
  }
  .uk-grid-60-l > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-l > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-60-m {
    margin-left: -60px !important;
  }
  .uk-grid-60-m > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-m > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-60-s {
    margin-left: -60px !important;
  }
  .uk-grid-60-s > * {
    padding-left: 60px !important;
  }
  .uk-grid-60-s > .uk-grid-margin {
    margin-top: 60px !important;
  }
}

.uk-grid-60 {
  margin-left: -60px;
}
.uk-grid-60 > * {
  padding-left: 60px;
}
.uk-grid-60 > .uk-grid-margin {
  margin-top: 60px;
}

@media (min-width: 1600px) {
  .uk-grid-68-xl {
    margin-left: -68px !important;
  }
  .uk-grid-68-xl > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-xl > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-68-l {
    margin-left: -68px !important;
  }
  .uk-grid-68-l > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-l > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-68-m {
    margin-left: -68px !important;
  }
  .uk-grid-68-m > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-m > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-68-s {
    margin-left: -68px !important;
  }
  .uk-grid-68-s > * {
    padding-left: 68px !important;
  }
  .uk-grid-68-s > .uk-grid-margin {
    margin-top: 68px !important;
  }
}

.uk-grid-68 {
  margin-left: -68px;
}
.uk-grid-68 > * {
  padding-left: 68px;
}
.uk-grid-68 > .uk-grid-margin {
  margin-top: 68px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.fz-32, .desktop12__title {
  font-size: 22.4px !important;
}
@media screen and (min-width: 640px) {
  .fz-32, .desktop12__title {
    font-size: calc(22.4px + 9.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-32, .desktop12__title {
    font-size: 32px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__68:nth-child(n+2) {
  margin-top: 68px;
}
.item__32:nth-child(n+2) {
  margin-top: 32px;
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__68-40:nth-child(n+2) {
  margin-top: 40px;
}
@media (min-width: 960px) {
  .item__68-40:nth-child(n+2) {
    margin-top: 68px;
  }
}
.item__32-16:nth-child(n+2) {
  margin-top: 16px;
}
@media (min-width: 960px) {
  .item__32-16:nth-child(n+2) {
    margin-top: 32px;
  }
}
.item__24-12:nth-child(n+2) {
  margin-top: 12px;
}
@media (min-width: 960px) {
  .item__24-12:nth-child(n+2) {
    margin-top: 24px;
  }
}
.item__16-12:nth-child(n+2) {
  margin-top: 12px;
}
@media (min-width: 960px) {
  .item__16-12:nth-child(n+2) {
    margin-top: 16px;
  }
}
.item__16-8:nth-child(n+2) {
  margin-top: 8px;
}
@media (min-width: 960px) {
  .item__16-8:nth-child(n+2) {
    margin-top: 16px;
  }
}

.header__bg {
  background: #161616;
}
@media (min-width: 960px) {
  .header {
    background: #161616;
  }
}
.header__navitem, .header .uk-navbar-toggle,
.header .uk-navbar-item, .header .uk-navbar-nav > li > a {
  min-height: 56px;
}
.header__hover, .header .uk-navbar-nav > li.uk-active > a, .header .uk-navbar-nav > li > a:hover {
  color: #66B933;
}
.header .uk-logo img {
  height: 32px;
}
.header .uk-navbar-right {
  gap: 12px;
}
.header__pay {
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  min-height: 32px;
  padding: 0 14px;
  border-radius: 12px;
  background: #161616;
  color: #66B933;
  display: flex;
  align-items: center;
}
@media (min-width: 960px) {
  .header__pay {
    background: #000000;
  }
}
.header__pay img {
  margin-left: 4px;
}
.header__user {
  background: #161616;
}
@media (min-width: 960px) {
  .header__user {
    background: #000000;
  }
}
.header .uk-navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.2);
}
.header .uk-navbar-nav > li > a span {
  font-family: "Mortend Regular", sans-serif;
  position: relative;
  top: 1px;
}
.header .uk-navbar-nav > li > a svg {
  margin-right: 4px;
}
.header__btnLogin {
  background: linear-gradient(270.72deg, #66B933 0%, #00DEA1 100%);
  border-radius: 12px;
  font-family: "Mortend Bold", sans-serif;
  line-height: 30px;
  color: #ffffff !important;
}
@media (min-width: 960px) {
  .header__btnLogin {
    padding: 0 17px;
  }
}
.header__btnLogin > * {
  position: relative;
  top: 2px;
}

.menuBottom {
  background: #161616;
  border-radius: 24px 24px 0px 0px;
}
.menuBottom__coverAdd {
  background: linear-gradient(180deg, #42D32B 0%, #00DEA1 100%);
  position: relative;
  top: -16px;
}
.menuBottom__nav {
  gap: 0;
}
.menuBottom__subtitle {
  color: #D9D9D9;
  font-size: 10px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  line-height: 1.6;
}

main {
  padding-top: 28px !important;
  padding-bottom: 40px !important;
}
@media (min-width: 960px) {
  main {
    padding-top: 96px !important;
    padding-bottom: 68px !important;
  }
}

.desktop1__width {
  max-width: 512px;
  width: 100%;
  box-sizing: content-box;
}
.desktop1__logo {
  height: 56px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__logo {
    height: calc(56px + 15 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__logo {
    height: 71px !important;
  }
}
.desktop1__desc {
  color: #D9D9D9;
  line-height: 1.14;
}
.desktop1__desc {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__desc {
    font-size: calc(12px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__desc {
    font-size: 14px !important;
  }
}
.desktop1__form__label {
  color: #A7A7A7 !important;
  font-size: 12px;
  line-height: 1.33;
}
.desktop1__form__textarea {
  background: #2A2A2C !important;
  border-color: #2A2A2C !important;
  color: #FFFFFF !important;
}
.desktop1__form__textarea {
  font-size: 10px !important;
}
@media screen and (min-width: 640px) {
  .desktop1__form__textarea {
    font-size: calc(10px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop1__form__textarea {
    font-size: 14px !important;
  }
}
.desktop1__form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}
.desktop1__btn {
  width: 100%;
  border-radius: 12px;
  line-height: 30px;
  font-family: "Mortend Bold", sans-serif;
  padding: 0 13px;
}
.desktop1__btn:not(.width) {
  min-width: 160px;
}
.desktop1__btn.width {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: #FFFFFF !important;
}
.desktop1__btn.width span {
  font-size: 10px;
  margin-left: 4px;
  position: relative;
  top: 1px;
}
.desktop1__btn > * {
  position: relative;
  top: 2px;
}
.desktop1__btn--c1 {
  background: linear-gradient(270.72deg, #66B933 0%, #00DEA1 100%);
  color: #ffffff !important;
}
.desktop1__btn--c2 {
  background: #000;
  border-color: #66B933 !important;
  color: #66B933 !important;
}

.desktop3__modal__dialog {
  width: 360px;
  background: #000000;
  border: 1px solid #66B933;
  border-radius: 16px;
}
.desktop3__modal__logo {
  margin: 0;
}
.desktop3__modal__logo img {
  height: 32px;
}

.desktop4__cover {
  border-radius: 12px;
}
.desktop4__back {
  background: #2A2A2C;
}
@media (min-width: 960px) {
  .desktop4__width {
    max-width: 328px;
    width: 100%;
    box-sizing: content-box;
  }
}
.desktop4__boxCheck {
  cursor: pointer;
  height: 32px;
  box-sizing: border-box;
  min-width: 52px;
  border: 1px solid #66B933;
  background: #000000;
  position: relative;
  transition: all 0.3s;
}
.desktop4__boxCheck__txt1 {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Mortend Bold", sans-serif;
  color: #FFFFFF;
  line-height: 1.2;
}
.desktop4__boxCheck__txt2 {
  font-size: 10px;
  font-family: "Mortend Bold", sans-serif;
  color: #FFFFFF;
  line-height: 1.6;
}
.desktop4__boxCheck:before {
  transition: all 0.3s;
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  background-color: #66B933;
  position: absolute;
  right: calc(100% - 24px - 4px);
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6666 4.27331L11.7266 3.33331L7.99998 7.05998L4.27331 3.33331L3.33331 4.27331L7.05998 7.99998L3.33331 11.7266L4.27331 12.6666L7.99998 8.93998L11.7266 12.6666L12.6666 11.7266L8.93998 7.99998L12.6666 4.27331Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.desktop4__check:checked ~ .desktop4__gridCheck .desktop4__boxCheck {
  background-color: #66B933;
}
.desktop4__check:checked ~ .desktop4__gridCheck .desktop4__boxCheck:before {
  background-color: #000000;
  background-image: inherit;
  right: calc(4px - 2px);
  width: calc(24px + 2px);
  height: calc(24px + 2px);
}

.desktop8__time, .desktop8__txtSmall {
  color: #D9D9D9;
  line-height: 1.6;
  font-size: 10px;
  font-weight: 300;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__name {
  color: #FFFFFF;
  line-height: 1.14;
  font-size: 14px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__btnFollow {
  line-height: 30px;
  border-color: #66B933 !important;
  font-size: 10px;
  font-family: "Mortend Regular", sans-serif;
}
.desktop8__btnFollow.uk-active {
  background: #66B933 !important;
  color: #000 !important;
}
.desktop8__count {
  color: #D9D9D9 !important;
  font-size: 10px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop8__count.uk-active svg {
  color: #66B933;
}

@media (min-width: 1200px) {
  .desktop6__containerFull {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.desktop6__img {
  border-radius: 12px;
}
.desktop6__title {
  text-transform: uppercase;
  color: #66B933 !important;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Mortend Bold", sans-serif;
}
.desktop6__box {
  padding: 0px 5px;
}
.desktop6__iconTab {
  color: #D9D9D9 !important;
}
.desktop6__iconTab.uk-active {
  color: #66B933 !important;
}

.desktop5__container {
  margin-left: -15px;
}
@media (min-width: 640px) {
  .desktop5__container {
    margin-left: -30px;
  }
}
@media (min-width: 960px) {
  .desktop5__container {
    margin-left: auto;
    max-width: calc(50% + 600px - 0px);
  }
}
.desktop5__labelTitle {
  color: #FFFFFF !important;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
  line-height: 1.25;
}
.desktop5__card {
  background: #161616;
  border-radius: 12px;
}
.desktop5__card .uk-card-header {
  padding: 10px 15px;
}
.desktop5__card__tag {
  color: #FFFFFF !important;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
  line-height: 1.25;
}
.desktop5__card__icon {
  color: #FFFFFF !important;
  font-size: 12px;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop5__card__icon svg {
  position: relative;
  top: -2px;
}

.desktop10__box {
  background: #161616;
  border-radius: 16px;
  padding: 8px;
}
.desktop10__box__coverImg {
  border-radius: 12px;
}
.desktop10__box__txt {
  color: #FFFFFF !important;
  line-height: 1.2142857143;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop10__box__txt {
  font-size: 10px !important;
}
@media screen and (min-width: 640px) {
  .desktop10__box__txt {
    font-size: calc(10px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop10__box__txt {
    font-size: 14px !important;
  }
}

.desktop12__title {
  text-transform: uppercase;
  line-height: 1.09375;
  font-family: "Mortend Bold", sans-serif;
  color: #66B933 !important;
}
.desktop12__desc {
  color: #D9D9D9 !important;
  line-height: 1.14;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
}
.desktop12__desc {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__desc {
    font-size: calc(12px + 2 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__desc {
    font-size: 14px !important;
  }
}
.desktop12__card {
  background: #2A2A2C;
  border-radius: 12px;
  padding: 12px;
}
@media (min-width: 960px) {
  .desktop12__card {
    padding: 24px;
  }
}
.desktop12__card__txt1 {
  color: #FFFFFF;
  font-family: "Sarabun", sans-serif;
  font-family: "Unbounded", cursive;
  font-weight: 500;
}
.desktop12__card__txt1 {
  font-size: 12px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt1 {
    font-size: calc(12px + 12 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt1 {
    font-size: 24px !important;
  }
}
.desktop12__card__txt1 img {
  height: 16px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt1 img {
    height: calc(16px + 14 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt1 img {
    height: 30px !important;
  }
}
.desktop12__card__txt2 {
  text-transform: uppercase;
  color: #66B933;
  font-family: "Mortend Bold", sans-serif;
  line-height: 1.1041666667;
}
.desktop12__card__txt2 {
  font-size: 24px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt2 {
    font-size: calc(24px + 24 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt2 {
    font-size: 48px !important;
  }
}
.desktop12__card__txt3 {
  color: #FFFFFF;
  font-weight: 300;
  font-family: "Mortend Regular", sans-serif;
}
.desktop12__card__txt3 {
  font-size: 11px !important;
}
@media screen and (min-width: 640px) {
  .desktop12__card__txt3 {
    font-size: calc(11px + 3 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .desktop12__card__txt3 {
    font-size: 14px !important;
  }
}

.desktop15__btn {
  background: #000000 !important;
  border-color: #66B933 !important;
  line-height: 30px;
  font-family: "Mortend Bold", sans-serif;
}
.desktop15__btn > * {
  position: relative;
  top: 2px;
}

/*# sourceMappingURL=style.css.map */
