.desktop6{
  &__containerFull{
    @include media-breakpoint-up('l'){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__img{
    border-radius: 12px;
  }
  &__title{
    text-transform: uppercase;
    color: #{$primary-color} !important;
    font-size: 20px;
    line-height: 1.2;
    font-family: $font-Mortend-Bold;
  }
  &__box{
    padding: 0px 5px;
  }
  &__iconTab{
    color: #D9D9D9 !important;
    &.uk-active{
      color: #{$primary-color} !important;
    }
  }
}