.header{
  &__bg{
    background: #161616;
  }
  @include media-breakpoint-up('m'){
    background: #161616;
  }
  &.uk-active{
    //@extend .header__bg;
    &.uk-sticky-below{
      //@extend .header__bg;
    }
  }
  &__navitem{
    min-height: 56px;
  }
  &__hover{
    color: #{$primary-color};
  }
  .uk-logo{
    img{
      height: 32px;
    }
  }
  .uk-navbar-right{
    gap: 12px;
  }
  &__pay{
    font-family: 'Sarabun', sans-serif;
    font-family: 'Unbounded', cursive;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    min-height: 32px;
    padding: 0 14px;
    border-radius: 12px;
    background: #161616;
    color: #{$primary-color};
    display: flex;
    align-items: center;
    @include media-breakpoint-up('m'){
      background: #000000;
    }
    .uk-active &{
      //background: #000000;
    }
    img{
      margin-left: 4px;
    }
  }
  &__user{
    background: #161616;
    @include media-breakpoint-up('m'){
      background: #000000;
    }
    .uk-active &{
      //background: #000000;
    }
  }
  .uk-navbar-nav{
    >li{
      >a{
        @extend .header__navitem;
        color: rgba(255, 255, 255, 0.2);
        span{
          font-family: $font-Mortend-Regular;
          position: relative;
          top: 1px;
        }
        &:hover{
          @extend .header__hover;
        }
        svg{
          margin-right: 4px;
        }
      }
      &.uk-active{
        >a{
          @extend .header__hover;
        }
      }
    }
  }
  .uk-navbar-toggle,
  .uk-navbar-item{
    @extend .header__navitem;
  }
  &__btnLogin{
    background: linear-gradient(270.72deg, #66B933 0%, #00DEA1 100%);
    border-radius: 12px;
    font-family: $font-Mortend-Bold;
    line-height: 30px;
    color: #ffffff !important;
    @include media-breakpoint-up('m'){
      padding: 0 17px;
    }
    >*{
      position: relative;
      top: 2px;
    }
  }
}