.item{
  $x:68;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:32;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:20;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:16;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:15;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:12;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:10;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:8;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  $x:4;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }







  $max:68;
  $min:40;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:48;
  $min:24;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:40;
  $min:20;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:32;
  $min:16;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:24;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:16;
  $min:12;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
  $max:16;
  $min:8;
  &__#{$max}-#{$min}{
    &:nth-child(n+2){
      margin-top: #{$min}px;
      @include media-breakpoint-up('m'){
        margin-top: #{$max}px;
      }
    }
  }
}