/**
 * --------------------------------------------------------------------
 * Mortend
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Mortend Regular';
  font-display: swap;
  src:local('Mortend Regular'), url('fonts/mortend-mortend-regular-400.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Mortend Bold';
  font-display: swap;
  src:local('Mortend Bold'), url('fonts/mortend-mortend-bold-700.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}